<h2>I</h2>
<div>
  <h3>List (group DRAGULA_1)</h3>
  <ul class="container" dragula="DRAGULA_1">
    <li>ITEM one</li>
    <li>ITEM two</li>
    <li>ITEM three</li>
  </ul>
  <h3>List (group DRAGULA_2)</h3>
  <ul dragula="DRAGULA_2">
    <li>ITEM 1</li>
    <li>ITEM 2</li>
    <li>ITEM 3</li>
  </ul>
  <h3>List (group DRAGULA_2)</h3>
  <ul dragula="DRAGULA_2">
    <li>ITEM 4</li>
    <li>ITEM 5</li>
    <li>ITEM 6</li>
  </ul>
</div>