<h3>Component "right"</h3>
<ul dragula="sample" id="right">
  <li data="drop">Item 1 from "right" component</li>
  <li>Item 2 from "right" component</li>
  <li>Item 3 from "right" component</li>
</ul>