<h2>II</h2>
<app-left style="float: left; border: 1px solid red; margin: 5px; padding: 10px"></app-left>
<app-right style="float: left; border: 1px solid green; margin: 5px; padding: 10px"></app-right>